{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('api_github_repos') }}" method="get">
        <label>Created : </label><input type="text" placeholder="10"/>
        <label>Limit: </label><input type="text" placeholder="10"/>
        <label>Sort: </label><input type="text" placeholder="stars"/>
        <label>Order: </label><input type="text" placeholder="desc"/>
        <label>Language: </label><input type="text" placeholder="javascript"/>

        <br/><br/>
        <button type="submit">Search</button>
    </form>

    <br/>
    <br/>
    <table style="width: 100%">
        {% for repo in repos %}
            <tr>
                <td>{{ repo.name }}</td>
                <td>{{ repo.created_at }}</td>
                <td>{{ repo.language }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}